* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0c0c18;
  font-family: ' Tahoma', sans-serif;
}

.clearfix {
  clear: both;
}

.control-button, .game-over-button, .well-done {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(12, 12, 24, 0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.control-button span, .game-over-button span, .well-done span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #de560d;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.game-over-button, .well-done {
  visibility: hidden;
}

.game-over-button.show, .well-done.show {
  visibility: visible;
}

.info-container {
  width: 90%;
  margin: 25px auto 30px;
  padding: 20px;
  font-size: 25px;
  overflow: hidden;
  border: 2px solid #0c0c18;
  background-color: #145c3a;
  color: #504f5c;
  border-radius: 10px;
}

.info-container .name {
  float: left;
  width: 75%;
  color: #0c0c18;
}

.info-container .name span {
  color: #de560d;
}

.info-container .tries, .info-container .right, .info-container .countdown {
  float: left;
  width: 30%;
  text-align: left;
  color: #0c0c18;
  margin: 2px;
}

.info-container .tries span, .info-container .right span, .info-container .countdown span {
  color: #fff;
}

.memory-game-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
}

.memory-game-blocks.no-clicking {
  pointer-events: none;
}

.memory-game-blocks .game-block {
  width: 150px;
  height: 150px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  margin: 10px 20px;
}

.memory-game-blocks .game-block.is-flipped, .memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  pointer-events: none;
}

.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 7px solid #145c3a;
  text-align: center;
}

.memory-game-blocks .game-block .front {
  background-color: #de560d;
  line-height: 130px;
}

.memory-game-blocks .game-block .front::before {
  content: "!";
  color: #0c0c18;
  font-weight: bold;
  font-size: 150px;
}

.memory-game-blocks .game-block .back {
  background-color: #de560d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */